header{
    padding:0;
    background-image: url('/img/banner.jpg');
    background-size:cover;
    background-repeat: no-repeat; 
    height:530px;
    position: relative;
    nav {
        padding:0;
        height:auto;
        position: relative;
        display: flex;
        line-height:89px;
        vertical-align: middle;
        background-color: #fff;
        width:1369px;
        #logo{
            height:100%;           
            img{
              max-width: 100%;
            }
        }
        #bars{
            display:none;
        }
        i{
            color:$light_blue;
        }
        ul{
            margin: 0 auto;
            max-width: 100%;
            text-align: center;
            a{
                text-decoration: none;
                color:black;
            }

            a:hover{
                color:$light_blue;
            }
            i, li{
                text-decoration: none;
                display: inline;
                text-transform: uppercase;
                text-align: center;
                margin-left: 30px;
            }
            
        }
    }
    #banner-text{
        color:#fff;
        text-align: center;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
    }

    #box-container{
        position: absolute;
        bottom:0;
        right:205px;
        width:auto;
    }
    .banner-box{
        color:white;
        font-size: 23px;
        background-color: $darker-blue;
        height:73px;
        width:295px;
        text-align: center;
        line-height: 73px;
        float: left;
        i{
            color:#fff;
        }

    }

    #security-box{
        background-color: $teal-with-opacity;
        margin-right:15px;

    }
    
}

@media(max-width:1350px){
    header{
        nav{
            ul{
                i{
                    margin:5px;
                }
                li{
                    font-size:0.8em;
                    margin:5px;
                }
            }
        }
    }
}

@media(max-width: $mobile){
    header{
        nav{
            #bars{
                font-size:2em !important;
                display:initial;
            }               
            ul{
                display: none;   
                i{
                    display:none !important;
                }
                li{
                    text-decoration: none;
                    display: block;
                    text-transform: uppercase;
                    text-align: center;
                    height:50px;
                    line-height: 40px;
                    
                }            
            }
        }
        #box-container{
            left:25%;
        }
    }
}