#section-c{
    height:550px;
    position: relative;
    width:100%;
    overflow: hidden;    
    #break{
        padding:0;
        margin:0;
        height:12px;
        width:100%;
        background-color:black;
        margin-bottom:50px;
    }
        #circle-1{
            position: absolute;
            top:10%;
            left:-300px;

        }

        #circle-2{
            position: absolute;
            top:-30px;
            right:-735px;
            z-index: -999;

        }

        form{
            height:100%;
            width:574px;
            max-width:100%;
            background-color:$teal;
            padding:20px;
            margin-left:30px;
            box-sizing: border-box;
            overflow: auto;
            margin:auto;
            h1{
                font-size: 28px;
                color:white;
                font-weight:700;
            }

            input{
                border:none;
                background-color: $pale_blue;
                width:100%;
                margin-bottom: 18px;
                height:33px;
                padding-left:12px;
            }
            textarea{
                width:320px;
                height:111px;
                background-color: $pale_blue;
                float:left;
                border:none;
            }

            button{
                margin:0 auto;
                width:200px;
                height:111px;
                border:none;
                background: $teal;
                color:#fff;
                font-weight:700;
                font-size:23px;
                float:left;
            }
        }

        
        
        #application-testing{
            box-sizing: border-box;
            padding:55px;
            h1{
                text-align: left;
                padding:0;
                font-size:20px;
                text-transform: uppercase;
                font-weight: 700;
                margin-bottom:30px;
            }
            p{
                margin-bottom:30px;
            }
        }

        h1{
            font-size:54px;
            font-weight: 300;
            text-align: center;
            padding-top:10px;
        }
    

}

@media(max-width:$mobile){
    #section-c{
        height:auto;
        text-align: center;
        #application-testing{
            h1{
                text-align: center;
            }
        } 
    }
}