#header-breaker{
    margin:0;
    padding:0;
    background-color: $light_blue;
    height:13px;
    width:100%;
}

#section-a{
    font-weight: 300;
    padding-top: 30px;
    padding-bottom: 20px;
    
    overflow:auto; 
    #protect-you{
        h2{
            font-size:38px;
            font-weight: 300;
            margin:0;
            
        }
    
        p{
            padding: 30px 0 0 0;
            margin:0;
            a{
                text-decoration: underline;
            }
        }
    
        ul{
            margin-top:25px;
            color:$light-blue;
            li{
                list-style: none;
                display: inline;
            }
        }
    }

    #twitter-container{
        height:100%;
        #twitter-btns{
            text-align: center;
            i{
                cursor: pointer;
                margin:10px 20px;
                color:$light_blue;
                font-size:0.8em;
            }

        }
        

        img{
            display:none;
            height:auto;
            margin-top: 50px;
        }
        
    }

    .show{
        display:block;
        animation: fade 1s; 
    }
    
    .hide{
        display:none;
    }
    @keyframes fade {
        from{
            opacity: 0.4;
        }
        to{
            opacity: 1;
        }
    }
}