#section-d{
    height:500px;
    width:100%;
    background: $teal;
    position: relative;
    z-index: -2;

    #white-background{
        height:50%;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: #fff;
        z-index: -1;
    }

    #cards{
        height: 80%;
        display: flex;
        justify-content: space-around;
        margin:0 auto;

        .card{
            width:30%;
            background: #fff;
            height:100%;
            box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
            padding-bottom:20px;

            img{
                height:50%;
                width: 100%;
                
            }

            h1{
                color:$light_blue;
                font-size:1.7em;
                margin:10px;
                margin-top:20px;
            }

            p{
                margin:10px;
                margin-top:15px;
            }
        }
    }
}

@media (min-width:1040px){
    #cards{
        width:100%
    }
}

@media (min-width:1530px){
    #cards{
        width:80%;
    }
}

@media (max-width: $mobile){
    #section-d{
        #cards{
            display:block;
            width:100%;
            .card{
                width:100%;
                margin:30px 0;
            }
        }
    }
}