#section-b{
    background-color:$light-blue;
    width:100%;
    height:163px;
    padding:0 150px;
    padding-top:40px;
    padding-bottom:40px;
    #img-wrapper{
        display:flex;
        justify-content: space-around;
        height:100%;
        width:100%;
        margin: 0 auto;
    }
}

@media(max-width:$mobile){
    #section-b{
        padding:30px;
        #img-wrapper{
            width: 100%;
            img{
                width:25%;
            }
        }
    }
}