$light_blue: rgb(24, 152, 163);
$teal: rgb(61, 204, 199);
$teal-with-opacity : rgba(61, 204, 199, 0.8);
$darker-blue: rgb(23,127,136);
$pale-blue: rgb(216, 245, 244);

// Settings / Defaults
@import 'vendor/normalize';
@import 'settings/settings';
@import 'settings/mixins';
@import 'settings/helpers';
@import 'settings/typography';
@import 'settings/global';

// Components
@import 'components/grid';
@import 'components/header';
@import 'components/sectiona';
@import 'components/sectionb';
@import 'components/sectionc';
@import 'components/sectiond';

// Pages
@import 'pages/home';

.wrapper{
    width:80%;
    margin:0 auto;  
    height: 100%;  
}

.highlight{
    color:$light_blue;
}